:root {
  --white: #d8d8d8;
  --white-two: #ffffff;
  --dark-indigo: #1a0e49;
  --warm-grey: #8d8c8c;
  --greeny-blue: #57bbbc;
  --beige: #ebe9d7;
  --medium-pink: #ee4c77;
  --night-blue: #0d0430;
}

.TextInput-4:focus {
  border-bottom: 1px solid rgb(239, 87, 129);
  box-shadow: 0 1px 0 0 rgb(239, 87, 129);
}
.TextInput-4:focus + label {
  color: #000;
}

.TextInput-4 {
  border-bottom: 1px solid #383743;
}

.list-item {
  clear: both;
  display: block;
  cursor: pointer;
}

.input-row {
  background-color: #ee4c77;
  margin-right: 0;
  margin-left: 0;
}

.successfully-saved.hide-opacity {
  opacity: 0;
}

.successfully-saved {
  color: #ffffff;
  text-align: center;
  -webkit-transition: opacity 3s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
  -ms-transition: opacity 3s ease-in-out;
  -o-transition: opacity 3s ease-in-out;
  opacity: 1;
}
.transition-div {
  width: 50%;
  height: 13.273rem;
  transition-property: width, height;
  transition-duration: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.transition-div.expand {
  height: 33rem;
  width: 100%;
  background-color: white;
  align-items: center;
  justify-content: start;
  display: flex;
  flex-direction: column;
}
.transition-div-2 {
  width: 50%;
  height: 100%;
  margin-top: 20px;
  align-items: center;
  justify-content: flex-start;
  transition-property: width, height;
  transition-duration: 1s;
}
.transition-div-2.collapse {
  width: 200px;
  height: 20rem;
}
.box-enterprise {
  background-color: white;
  margin-top: 50px;
  width: 100%;
  height: 200px;
  flex-direction: row;
  display: flex;
  overflow: hidden;
}
.box-enterprise.expand {
  height: 500px;
}
.content-enterprise {
  margin-left: 2.397rem;
  margin-top: 10px;
  width: 100%;
  height: 60%;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
}

.image-enterprise {
  margin-top: 20px;
  width: 18.313rem;
  height: 10rem;
  margin-left: 1.914rem;
  background-color: '#7dc075';
}
.font-content {
  font-size: 18px;
  transition-duration: 0.2s;
  transition-property: font-size;
}
.font-content.expand {
  font-size: 0px;
}
.AutoCompleteText {
  border-radius: 7px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.73);
}

.AutoCompleteText.ul {
  z-index: 1;
  position: absolute;
  background-color: #282c34;
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
  border: 1px solid grey;
  max-height: 50vh;
  overflow-y: scroll;
}

.AutoCompleteText ul::before {
  content: '';
}
.AutoCompleteText li {
  height: 40px;
  padding: 20px 5px;
  cursor: pointer;
  color: #ffffffc2;
}

.AutoCompleteText li:hover {
  text-decoration: underline;
  background-color: rgba(94, 93, 93, 0.192);
}
.AutoCompleteText input::-webkit-outer-spin-button,
.AutoCompleteText input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* .input-field > label {
  color: white;
}
.input-field:focus {
  color: white;
}
.input-field input[type='text']:focus {
  color: white;
}

.enterprise {
  color: white;
}

.input-field .prefix.active {
  color: pink;
}

.input-field input[type='text']:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
} */

.input-row {
  width: 64rem;
  height: 9.625rem;
  background: top center / 100% 80vh
    linear-gradient(180deg, var(--medium-pink) 23%, var(--night-blue) 66%);
  /* background: linear-gradient(
    173deg,
    var(--medium-pink) 23%,
    var(--night-blue) 66%
  ); */
}
.conteudo {
  width: 64rem;
  height: 64rem;
  background-color: var(--beige);
}
.minimized-1 {
  height: '13.273rem';
  width: '50%';
}

.minimized-2 {
  width: '30%';
  height: '10rem';
}

.expand-minimize {
  cursor: pointer;
}

.Empresa-1 {
  clear: both;
  display: block;

  width: 19.143rem;
  height: 2.438rem;
  font-family: Roboto;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

.Negocio {
  clear: both;
  display: block;
  width: 10.79rem;
  height: 2rem;
  font-family: Roboto;
  font-size: 1.5rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

.Brasil {
  clear: both;
  display: block;

  width: 7.483rem;
  height: 1.5rem;
  font-family: Roboto;
  font-size: 1.125rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--warm-grey);
}

.list {
  display: block;
  width: 100%;
  background: top center / 100% 1000%
    linear-gradient(180deg, var(--medium-pink) 23%, var(--night-blue) 66%);
  z-index: 9999999;
  position: absolute;
}

.input-field {
  width: 100%;
}
